.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: auto;
  margin: auto;
}
.wrapper {
  display: flex;
  overflow: hidden;
  width: 80vw;
  height: 400px;
  max-width: 800px;
  text-align: center;
  margin: 20px auto;
  position: relative;
  margin-top: 80px;
  border:5px solid rgb(31, 132, 165);
  border-radius: 7px;
}
img {
  width: 80vw;
  height: 55vh;
}
.page {
  position: absolute;
  top: 0%;
  left: 35%;
  color:#fff;
  font-size: 3rem;
}
section {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0;
  transition: all 0.3s linear;
}
section.nextSlide {
  transform: translateX(100%);
}
section.activeSlide {
  transform: translateX(0);
  opacity: 1;
}

section.lastSlide {
  transform: translateX(-100%);
}
